<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>All Expenses</h1>
    <a href="/add">Add Expense</a> | <a href="/download_pdf">Download PDF</a>
    <table>
        <tr>
            <th>Date</th><th>Category</th><th>Amount</th><th>Note</th>
        </tr>
        {% for e in expenses %}
        <tr>
            <td>{{ e[1] }}</td>
            <td>{{ e[2] }}</td>
            <td>{{ e[3] }}</td>
            <td>{{ e[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
